language: php
sudo: false

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1

before_script:
  - composer install --dev

script:
 - mkdir -p build/logs
 - php vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_script:
 - php vendor/bin/coveralls -v
